body{
    max-width:100%;
    font-family:'Raleway', Helvetica, sans-serif;
    font-size:16px;
}

/* block elements*/
header {
  background: #000;
  color: #fff;
  line-height: 2.5rem;
  height: 2.5rem;
}
footer{
  padding-top:10px;
  padding-bottom: 30px;
  border-bottom: 5px solid black;
  overflow:auto;
}
.container {
    margin: 0 auto;
    width: 100%;
    display:flex;
    justify-content: space-around;
    padding: 0 10px;
    max-width:1200px;
    flex-wrap:wrap;
}
.boxes{
  padding:15px;
}
.image-box, .text-box {

  border:1px solid #DADADA;
  color:#575757;
  font-size:0.8rem;
  min-width:300px;
  margin:15px 0;
}
.image-box {
  flex:1;
    max-width: 330px;
}
.box1 {
  background-image: url('../images/box1_img.jpg');
}
.box2 {
  background-image: url('../images/box2_img.jpg');
}
.text-box{
  height: 250px;
  padding: 20px;
  flex:2;
}
.image-box__decoration{
  margin-top: 152px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px 20px;
}
.footer1{
  margin-top: 5px;
  color:#B3B3B3;
}
.footer2{
  margin-top: 5px;
  font-size: 16px;
  margin-right: 20px;
  color:#B3B3B3;
}
.left-column{
  width:170px;
}
.right-column{
  width:170px;
  text-align:right;
}
.price-list {
  background-color: #F1F1F1;
  overflow: auto;
  padding-top: 10px;
}

.section3__box1{
  border: 2px solid #27C7AB;
  width:295px;
  height: 450px;
  margin: 39px 11px;
  position: relative;
  text-align: center;
  float: left;
  margin: 30px 25px 50px 5px;
  background-color: #27C7AB;

}
.offer-box {
   max-width:330px;
   height: 500px;
   position: relative;
   text-align: center;
   float: left;
   margin: 30px 0 50px 0px;
   border: 1px solid #C2C2C2;
   background-color: #F9F9F9;

 }

.offer-box:nth-child(2n+1) {
  background-color: #24BD9E;
}
.offer-box:nth-child(2n+1) h3{
    color: #ffffff
  }

 .offer-box__circle{
   height: 56px;
   width: 56px;
   border-radius: 50%;
   border:2px solid #C4C4C4;
   text-align:center;
   margin: 0 auto;
   background-color: #FFFFFF;
   margin-top: -36px;
   padding-top: 14px;
 }
 .offer-box__circle__dot{
   height: 26px;
   width: 26px;
   border-radius: 50%;
   margin: 0 auto;
   background-color: #C4C4C4;
 }
 .offer-box:nth-child(2n+1) .offer-box__circle{
   border:2px solid #27C7AB;
   background-color: #27C7AB;
 }
 .offer-box:nth-child(2n+1) .offer-box__circle__dot{
   background-color: #F1F1F1;
 }
 .offer-box__price {
   height: 130px;
   width: 130px;
   border-radius: 50%;
   color:#C2C2C2;
   background-color: #FFFFFF;
   border:1px solid #D2D2D2;
   margin: 0 auto;
   padding:40px 20px;
   font-size: 32px;
   line-height:28px;
   font-weight: 700;
   margin-bottom: 30px;
 }
 .offer-box:nth-child(2n+1) .offer-box__price {
   color:#27C7AB;

 }

 .offer-box:nth-child(2n+1)  .offer-box__details li {
   background-color:#ffffff;
   color:#939393;

 }
 .offer-box .button{
   position:absolute;
   bottom: 20px;
   left:110px;
   width: 120px;
   height: 32px;
   line-height: 32px;
   font-size: 14px;
   margin-left:-60px;
 }
 .offer-box:nth-child(2n+1) .button{
   background-color: #FFFFFF;
   color:#27C7AB;
 }

 .offer-box__details li:nth-child(2n){
  background-color:#F1F1F1;
}

 .offer-box:nth-child(2n+1) .offer-box__details li:nth-child(2n){
 background-color:#F1F1F1;
}

/*typography */
strong{
  font-weight: 700;
}
.green{
  color:#42C5AD;
  font-weight: 700;
}
.menu a{
  font-weight: 700;
  font-size:0.875rem;;
  text-decoration: none;
  color: #fff;
}
header h1 {
    font-weight:400;
    font-size:0.75rem;
}
.text-box p {
  margin-top: 25px;
  line-height: 18px;
}
.image-box h2, .text-box h2 {
  font-weight: bold;
  font-size: 16px;
  border-bottom:5px solid;
  border-bottom-color: #24BD9E;
  width: 140px;
  color:#000000;
}
.price-list h2, { /*tu styluje cennik */
  font-size:20px;
  text-decoration-color: #24BD9E;
  margin: 50px 0 40px 0px;
  border-bottom:5px solid;
  border-bottom-color: #24BD9E;
  width: 310px;
  font-weight: 700;
  color: #9F9F9F;
  line-height: 30px;
}
.contact__title{
  text-align:center;
  border-bottom:5px solid;
  border-bottom-color: #24BD9E;
  margin-top: 10px;
}
.offer-box h3{
   color:#24BD9E;
   font-size: 21px;
   font-weight: 500;
   padding: 13px 0 30px 0;
   text-transform: uppercase;
 }
 .offer-box__price__period {
   font-size: 16px;
   font-weight: 700;
 }
 .offer-box__price sup {
   font-weight: 700;
 }

/*lists*/
header li {
    display: inline-block;
}
.menu > li {
    position: relative;
    padding-left: 30px;
}
li:hover > .submenu {
    display: block;
}

.submenu li {
    display: block;
}
.offer-box__details li {
    height: 40px;
    background-color:#E4E4E4;
    color:#939393;
    padding:10px;
    font-size:20px;
  }
/*navigation*/
.submenu {
    position: absolute;
    top: 40px; /* do wyboru 40px lub 100%*/
   background: #000;
    min-width: 160px;
    padding: 10px;
    display: none;
}
.button {
  background-color:#30C6AD;
  color:white;
  height:54px;
  line-height: 54px;
  width: 264px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size:20px;
}
/* forms */
input[type="submit"] {
  background-color:#30C6AD;
  color:white;
  height:30px;
  width: 100px;
  border-radius: 10px;
  border: none;
  margin-bottom: -10px;
  box-sizing:border-box;
}

.contact-form__left-column{
  max-width:350px;


}
.contact-form__left-column input, .contact-form__left-column textarea{
  max-width: 350px;
  margin-bottom: 26px;
  border: 1px solid #27C7AB;
  height: 65px;
  font-size: 30px;
  color:#E6E6E6;
  font-weight: 200;
  padding: 10px;
}


.contact-form__left-colu99-mn textarea{
  height: 150px;
}

.contact-form__right-column{

max-width: 358px;

text-align: center;
}
.contact-form__right-column-ok{
  border:1px solid #27C7AB;

}
.contact-form__right-column p{
text-align: left;
color:#969696;
margin: 30px 0 30px 0;
}
.contact-form__right-column input[type=submit]{
  height: 70px;
  width:100%;
  text-transform: uppercase;
  font-size: 26px;
}

/*slider */
.slider__chair, .slider__description { /*section1 oznacza miejsce gdzie jest chair i tekst */
max-height: 375px;
max-width: 375px;
margin-top:60px;
text-align: center;
align-items: center;
}
.slider__description h2{
  letter-spacing: 0px;
  font-size: 2.5rem;
  color:#000000;
  padding-top:50px;
}
.slider__description p {
  padding:35px 0 35px 0;
  line-height: 24px;
}
.slider {
  min-height: 526px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(220,219,225,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(220,219,225,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(220,219,225,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(220,219,225,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(220,219,225,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(220,219,225,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdbe1', GradientType=0 );
  position:relative;
}
.slide {
  display: none;
}
.slide.visible {
  display: inline-block;
  display:flex;
  align-items: center;
  justify-content: center;
}

#prev, #next{
    color:#30C6AD;
    position: absolute;
    top:200px;
    line-height: 64px;
    font-size: 64px;
    font-weight: 300;
    cursor: pointer;
}
#next{
    right:0px;
}
#prev{
    left:0px;
}

@media(max-width:799px){
  .slide {
    flex-direction:column;
  }
  .slider__chair, .slider__description{
    margin-top:0;
  }
  .slider__description {
    margin-bottom:40px;
    padding: 0 10px;
  }

  .slider__description h2{
    padding:0;
  }
}
@media(max-width:767px){
}
@media (max-width: 399px){
  .menu > li {
      padding-left: 15px;
  }
  .menu a{
    font-size:0.75rem;
  }
}

/*
@media(min-width: 320px) and (max-width: 556px){

.menu{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;

}
.menu a{
  font-size:0.5rem;
}
  .slider__description h2{
    font-size:1rem;
  }
  .slider__description p{
    font-size:0.6rem;
  }
  .container{
    display:flex;
    flex-direction:column;
  }
  }

}
@media(min-width: 557px)and (max-width: 1024px){
}
*/
